.root {

}

.pane {
	padding: 0;
}

.closeButton {
	background: none;
	border: none;
	font-size: 25px;
}

.closeContainer {
	text-align: right;
	padding: 10px;
}

.indentedContainer {
	padding: 3px 10px 10px 10px;
}
