.root {
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	background-color:#d0cccc;
	border-top: 2px solid cornsilk;
	padding: 10px;
	width: calc(100vw - 20px);
}

.item {
	flex: 1;
}
