body, html {
	margin: 0;
}
video {
	max-width: 50vw;
	max-height: 50vh;
}

#hamburger {
	margin-top: 10px;
}

#report {
	top: 0;
	right: 0;
}

.show-menu #hamburger {
	display: none;
}

.menu-container {
	position: absolute;
	z-index: 100;
}

.menu {
	position: absolute;
	z-index: 100;
	background: white;
	padding: 10px;
	min-width: 300px;
	height: 100vh;
	border-right: 1px solid gray;
}

#menu {
	display: none;
}

.show-menu #menu {
	display: inline-flex;
	flex-direction: column;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	margin-bottom: 25px;
}

button {
	border: none;
	background: none;
}

#menu #close-menu {
	font-size: 25px;
	display: block;
	text-align: right;
	padding-bottom: 25px;
}
